aiofiles
altgraph
cycler
dearpygui
importlib-metadata
kiwisolver
mistletoe
Nuitka
numpy
ordered-set
packaging
pandas
pefile
Pillow
portalocker
pyparsing
pyperclip
python-dateutil
pytz
scipy
screeninfo
six
typing-extensions
zipp
zstandard